body {
    font-family: sans-serif;
    background-color: white;
    margin-top:60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
    color:gray;
  
}

.img-medium {
    height: 200px;
}
.text-big.bold.h4{
     text-decoration:underline;
}
 .container{
     max-width: 800px;
     margin: 0 auto;
     color: #7d7b7b;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
   
}
